{% extends "nav.html" %}

{% block content %}


    <div class="container addMargin">

        <div>
            <h4 class="center-align">Search by Price Range</h4>
        </div>

        <div id="sliderRange" class="addMarginD"></div>


        <table id="mainTable" class="display highlight responsive-table" style="">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN13</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>



{% endblock %}