
label{
    margin-left: 2rem !important;
}

.addMargin{
    margin-top: 2rem;
}

.addMarginD{
    margin-top: 4rem;
}

/*For sticky footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}